.container {
    min-height: 835px;
    width: 100%;
    background-size: cover;
    background-image: url('/become-skillr-background.png');
    text-align: center;
    padding: 30px 10px;
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-bottom: 2.5rem;
}

@media only screen and (max-width: 804px) {
    .container {
        min-height: 900px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        min-height: 920px;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        min-height: 820px;
    }
}

@media only screen and (max-width: 447px) {
    .container {
        min-height: 890px;
    }
}

@media only screen and (max-width: 380px) {
    .container {
        min-height: 850px;
        height: 850px;
        margin-bottom: 5rem;
    }
}

@media only screen and (max-width: 357px) {
    .container {
        min-height: 900px;
        height: 900px;
    }
}

.contentWrapper {
    margin-top: 3rem;
}

@media (max-width: 768px) {
    .contentWrapper {
        margin-top: 2rem;
    }
}

.title {
    color: #f2f3f4;
    max-width: 1084px;
    padding: 0 14px;
    font-weight: 700;
    margin: 47px auto 46px;
}

.description {
    color: #f2f3f4;
    letter-spacing: normal;
    max-width: 620px;
    margin: 0 auto 10px;
    padding: 0 14px;
    font-weight: 700;
    box-sizing: content-box;
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 42px;
        margin: 0 auto;
    }
    .description {
        margin-top: 1.5rem;
    }
}

.screens {
    position: relative;
}

@media (max-width: 768px) {
    .screens {
        margin-top: 1.5rem;
    }
}

.screens img {
    position: relative;
    left: 0;
    /* transform: translateX(-50%); */
}

@media (max-width: 1066px) {
    .screens img {
        left: 50%;
        transform: translateX(-50%);
    }
}

.screensMobile {
    display: none;
}

@media only screen and (max-width: 380px) {
    .screensDesktop {
        display: none;
    }
    .screensMobile {
        display: block;
    }
}

.curPointer {
    cursor: pointer;
}
