@value md-up from "../../../styles/Breakpoints.module.css";

.bookSessionContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(12, 31, 63, 0.1);
}

@media md-up {
  .bookSessionContainer {
    flex-wrap: nowrap;
    padding: 20px 36px;
    border-radius: 24px;
    box-shadow: 0px 1.35472px 11.5152px 4.06417px rgba(0, 0, 0, 0.12);
  }
}

.bookSessionImgContainer {
  height: 69px;
  width: 69px;
  min-width: 69px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid grey;
  margin-right: 20px;
}

@media md-up {
  .bookSessionImgContainer {
    width: 93px;
    height: 93px;
  }
}

.bookSessionImgContainer img {
  object-fit: cover;
}

.bookSessionTextContainer {
  flex-grow: 1;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 8px 0;
  color: var(--rich-blue-8);
}

@media md-up {
  .title {
    font-size: 18px;
    margin: 16px 0 12px 0;
  }
}

.connectRow {
  display: none;
}

@media md-up {
  .connectRow {
    display: flex;
  }
}

.mobileConnectRow {
  display: flex;
  margin-top: 20px;
}

@media md-up {
  .mobileConnectRow {
    display: none;
  }
}

.rate {
  display: flex;
  align-items: center;
  margin-right: 24px;
  color: var(--rich-blue-8);
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
}

@media md-up {
  .rate {
    font-size: 14px;
  }
}

.connectNowButton {
  background: var(--skillr-pink-1);
  color: white;
  font-size: 9px;
  font-weight: 700;
  padding: 8px 22px;
  outline: 0;
  border: none;
  border-radius: 5px;
  margin-top: auto;
  white-space: nowrap;
}

@media md-up {
  .connectNowButton {
    font-size: 11px;
  }
}

.bookSessionRow1 {
  display: flex;
}

.bookSessionDescription {
  display: none;
  margin-top: 22px;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 24px;
  color: var(--rich-blue-7);
}

@media md-up {
  .bookSessionDescription {
    display: flex;
    font-size: 12px;
    line-height: 18px;
  }
}

.mobileBookSessionDescription {
  margin-top: 0;
  display: flex;
}

@media md-up {
  .mobileBookSessionDescription {
    display: none;
  }
}

.reviewDate {
  color: var(--rich-blue-5);
  font-size: 14px;
}

.reviewText {
  color: var(--rich-blue-7);
}

.availability {
  display: none;
}

@media md-up {
  .availability {
    display: flex;
    flex-basis: 200px;
    min-width: 200px;
    margin-left: auto;
    padding-left: 36px;
  }
}
