@value md-up from "../../../styles/Breakpoints.module.css";

.appStore {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    background-color: #f2f3f4;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    min-width: 300px;
}

.appStore:hover {
    text-decoration: none !important;
}

.text {
    font-size: 14px;
    margin-right: 16px;
    line-height: 21px;
}

.badge {
    width: 118px;
    height: 38px;
}

@media md-up {
    .appStore {
        align-items: center;
        flex-direction: column-reverse;
        padding: 12px;
    }

    .text {
        text-align: center;
        margin-right: 0;
        line-height: 18px;
    }

    .badge {
        width: 148px;
        height: 48px;
        margin-bottom: 14px;
    }
}
