.wrapper {
  padding: 35px 24px;
  background: linear-gradient(
    4.82deg,
    #ee1f5f -15.05%,
    #e0225d -9.47%,
    #c7275b -0.42%,
    #a22b57 10.98%,
    #742b51 24.28%,
    #402647 38.98%,
    #0d1f3e 49.94%
  );
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    display: block;
  }
}

.title {
  margin: 42px 0 33px;
}

.left {
  max-width: 647px;
  width: 100%;

  margin-right: 8rem;
}

@media (max-width: 768px) {
  .left {
    margin-right: 0;
  }
  .right {
    margin-top: 2rem;
  }
}

.fontBold {
  font-weight: 700;
}

.frame {
  width: 280px;
  margin-left: 3rem;
}

@media only screen and (max-width: 768px) {
  .frame {
    margin: 0 auto 2.75rem;
  }
}