.container {
  min-height: 990px;
  width: 100%;
  background: #0c1f3f;
  background-image: url("/hero-bg.png");
  text-align: center;
  padding-top: 5.625rem;
  margin-bottom: 14.125rem;
  background-position: bottom center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .container {
    min-height: 830px;
  }
}

.title {
  color: #f2f3f4;
  max-width: 750px;
  padding: 0 3rem;
  margin: 3.25rem auto;
}

.screens {
  /* height: 530px; */
  position: relative;
}

.screens > div {
  position: absolute;
  left: 50%;
  /* transform: translateX(-50%, -50%); */
  transform: translateX(-50%);
}

.screensMobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .screensDesktop {
    display: none;
  }
  .screensMobile {
    display: block;
  }
}
