@value md-up from "../../../styles/Breakpoints.module.css";

.profileCard {
  width: 100%;
  position: relative;
  margin-bottom: 8px;
}

@media md-up {
  .profileCard {
    margin-bottom: 40px;
  }
}

.profileCardContent {
  display: grid;
  padding-bottom: 20px;
}

.profileCardImageContainer {
  border: 6px solid var(--white);
  border-radius: 50%;
  margin: auto;
  width: 175px;
  height: 175px;
  margin: -125px auto 0 auto;
  overflow: hidden;
}
@media md-up {
  .profileCardImageContainer {
    margin-top: -60px;
    width: 190px;
    height: 190px;
  }
}

.profileCardImageContainer img {
  object-fit: cover;
}

.profileCardStatsContainer {
  display: none;
  justify-content: space-around;
  margin: 17px 17px 0 17px;
  text-align: center;
  color: var(--rich-blue-6);
}

@media md-up {
  .profileCardStatsContainer {
    display: flex;
  }
}

.profileCardStatsNumbers {
  color: var(--rich-blue-8);
  font-size: 20px;
  font-weight: 700;
}

.mobileProfileHeader {
  margin-top: 12px;
  color: var(--rich-blue-7);
}

.mobileProfileHeader div:first-child {
  text-align: center;
  font-size: 26px;
  font-family: "Poppins";
  margin-bottom: 4px;
}

.mobileProfileHeader div:last-child {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  font-family: "Poppins";
  color: var(--rich-blue-8);
}

@media md-up {
  .mobileProfileHeader {
    display: none;
  }
}

.profileCardAbout {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 24px;
  color: var(--rich-blue-7);
  margin-top: 12px;
}

@media md-up {
  .profileCardAbout {
    font-size: 10px;
    line-height: 15px;
    margin-top: 20px;
  }
}

.readMoreButton {
  background-color: var(--white);
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 700;
  border: 0.5px solid #838e9d;
  border-radius: 8px;
  height: 52px;
  margin-top: 28px;
}

@media md-up {
  .readMoreButton {
    height: 34px;
  }
}

.readLessButton {
  color: var(--rich-blue-8);
  background-color: transparent;
  border: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  padding: 0;
  margin-top: 30px;
}
