@value md-up from "../../../styles/Breakpoints.module.css";

.profileCardContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 12px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
}

.profileDetailsCardImgContainer {
    height: 56px;
    width: 56px;
    min-width: 56px;
    overflow: hidden;
    margin-right: 20px;
}

.profileDetailsCardImgContainer img {
    object-fit: cover;
    border-radius: 5px;
}

.profileCardTextContainer {
    flex-grow: 1;
}

.title {
    font-family: 'RedHatDisplay';
    font-size: 20px;
    font-weight: 700;
    color: var(--rich-blue-8);
}

.videosTitle {
    font-family: 'RedHatDisplay';
    font-size: 20px;
    font-weight: 700;
    color: var(--rich-blue-8);
    margin-bottom: 12px;
}

.rateContainer {
    display: flex;
}

.rate {
    display: flex;
    align-items: center;
    margin-right: 24px;
    color: var(--rich-blue-8);
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
}

.profileCardDescription {
    display: flex;
    margin-bottom: 26px;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 24px;
    color: var(--rich-blue-7);
}

.saveButton {
    background: var(--skillr-pink-1);
    height: 40px;
    width: 100px;
    color: white;
    border-radius: 8px;
}

.cancelButton {
    border: 1px solid lightgray;
    height: 40px;
    color: gray;
    width: 100px;
    border-radius: 8px;
}

.videos {
    margin-top: 16px;
}

@media md-up {
    .profileCardContainer {
        flex-wrap: nowrap;
        padding: 26px 32px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    }

    .profileDetailsCardImgContainer {
        width: 76px;
        height: 76px;
    }

    .title {
        font-size: 21px;
    }

    .rate {
        font-size: 14px;
    }
}
