/* Bio Component Container */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bigBio.bioContainer {
  display: flex;
  align-items: center;

  margin-top: 4.5rem;
}

@media (max-width: 576px) {
  .bigBio.bioContainer {
    margin-top: 2.5rem;
  }
}

@media (max-width: 576px) {
  .bigBio.bioContainer {
    flex-direction: column;
  }
}

.smallBio.bioContainer {
  margin-bottom: 4rem;
  width: 197px;
}

.isHover.bioContainer {
  position: relative;
}

@media (max-width: 768px) {
  .smallBio.bioContainer {
    margin-left: 6px;
    margin-right: 6px;

    margin-bottom: 2rem;
  }
}

.bigBio .bioImg {
  min-width: 216px;
  max-width: 216px;
}

.bioImg img {
  width: 100%;
  border-radius: 6.85542px;
}

.bioDetail {
  bottom: 15px;
  left: 8px;
}

.bioDetail .bioName {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: white;
  margin-bottom: 2px;
}

.bioDetail .bioSkill {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: white;
}

.bigBio .bioContent {
  margin-left: 7rem;
}

.isHover:hover .bioContent {
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 6.85542px;
  background: linear-gradient(0deg, #0c1f3f 0%, rgba(12, 31, 63, 0) 176.48%);
}

@media (max-width: 768px) {
  .bigBio .bioContent {
    margin-left: 3rem;
  }
}

@media (max-width: 576px) {
  .bigBio .bioContent {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}

.bigBio .bioContent .bioBody {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 576px) {
  .bigBio .bioContent .bioBody {
    text-align: center;
  }
}

.smallBio .bioContent .bioBody {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: black;

  margin-top: 1.875rem;
  padding-left: 8px;
  padding-right: 8px;
}

.isHover .bioContent .bioBody {
  color: white;
}

@media (max-width: 768px) {
  .smallBio .bioContent .bioBody {
    margin-top: 1rem;
  }
}
