.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 131px 0;
}

.section {
  display: flex;
  align-items: center;
}

.title {
  margin-bottom: 48px;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    margin: 34px 0;
  }

  .section {
    display: block;
    text-align: center;
  }

  .title {
    margin-bottom: 40px;
  }
}

.section__left {
  max-width: 552px;
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .section__left {
    margin-right: auto;
  }
}

.section__left {
  line-height: 1.6;
}

.flip {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 768px) {
  .flip {
    margin-top: 0;
  }
}

.frame {
  width: 280px;
  margin-left: 3rem;
}

@media only screen and (max-width: 768px) {
  .frame {
    margin: 0 auto 2.75rem;
  }
}

.flip .section__left {
  margin-right: auto;
  margin-left: 45px;
}

@media only screen and (max-width: 768px) {
  .flip .section__left {
    min-width: unset;
    margin-left: auto;
  }
}

.flip .frame {
  margin-left: auto;
}
