.prosPocket {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.textCenter {
  text-align: center;
}

.iconContainer {
  margin-top: 2rem;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconItem {
  margin-left: 1rem;
  margin-right: 1rem;
}

.pocketItem {
  margin-top: 2.4rem;
}

.pocketDescription {
  text-align: center;
  margin-top: 1rem;
}

.fontBold {
  font-weight: 700;
}

.inlineBlock {
  display: inline-block;
}