.main {
  padding: 0 24px;
}

.accessible {
  text-align: center;
  margin: 0 auto 25px;
  max-width: 1100px;
}

.section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 5rem 0;
}

@media only screen and (max-width: 767px) {
  .section {
    display: block;
  }
}

.section__left {
  flex: 1;
}

.section__left p {
  line-height: 1.6;
}

@media only screen and (max-width: 767px) {
  .section__left {
  }
}

.section__left > div {
  max-width: 552px;
  margin-left: auto;
}

@media only screen and (max-width: 767px) {
  .section__left > div {
    text-align: left;
    margin-right: auto;
  }
}

.sectionConnect {
  flex-direction: row;
}

@media only screen and (max-width: 767px) {
  .sectionConnect {
    margin-top: 0;
  }
}

.section__right {
  flex: 1;
  min-width: 451px;
}

.section__right > div {
  width: 280px;
  border-radius: 20px;
  box-shadow: 42.4708px 42.4708px 84.9415px rgba(12, 31, 63, 0.1);
  margin-left: 3rem;
  overflow: hidden;
}

.section__right > div > img {
  width: 100%;
  display: block;
}

@media only screen and (max-width: 767px) {
  .section__right {
    min-width: unset;
  }

  .section__right > div {
    margin: 0 auto 3rem;
  }
}

.sectionConnect .section__left > div {
  text-align: left;
  margin-right: auto;
  margin-left: 45px;
}

@media only screen and (max-width: 767px) {
  .sectionConnect .section__left > div {
    min-width: unset;
    margin-left: auto;
  }
}

.sectionConnect .section__right > div {
  margin-left: auto;
}

.textCenter {
  text-align: center;
}

.getEarlyAccess {
  margin: 0 auto 120px;
}

@media only screen and (max-width: 767px) {
  .getEarlyAccess {
    margin-top: 120px;
  }
}

.getInvite {
  width: 211px;
  border: 0.5px solid #c4cad0;
  box-sizing: border-box;
  border-radius: 8px;
  height: 64px;
  background: transparent;
  color: #ff165f;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 40px;
  cursor: pointer;
}

.more {
  color: #ff165f;
}
